@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* ul li {
  list-style: none;
}

* a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "COCOGOOSE";
  src: url("../../webfonts_COCOGOOSE/COCOGOOSE.ttf.woff") format("woff"), url("../../webfonts_COCOGOOSE/COCOGOOSE.ttf.svg#COCOGOOSE") format("svg"), url("../../webfonts_COCOGOOSE/COCOGOOSE.ttf.eot"), url("../../webfonts_COCOGOOSE/COCOGOOSE.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  color: white;
}

@font-face {
  font-family: 'COCOGOOSE-LETTERPRESS';
  src: url("../../webfonts_COCOGOOSE-LETTERPRESS/COCOGOOSE-LETTERPRESS.ttf.woff") format("woff"), url("../../webfonts_COCOGOOSE-LETTERPRESS/COCOGOOSE-LETTERPRESS.ttf.svg#COCOGOOSE-LETTERPRESS") format("svg"), url("../../webfonts_COCOGOOSE-LETTERPRESS/COCOGOOSE-LETTERPRESS.ttf.eot"), url("../../webfonts_COCOGOOSE-LETTERPRESS/COCOGOOSE-LETTERPRESS.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Lato", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  overflow-x: hidden;
}

@use "sass:math";
.upper {
  text-transform: uppercase;
}

@media (min-width: 48rem) {
  .desktop-invisible {
    display: none;
  }
}

@media (max-width: 47.9375rem) {
  .mobile-invisible {
    display: none;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-jc-spb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.separator {
  background-color: #ec5241;
  width: 3rem;
  height: 0.125rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.separatorMedium {
  background-color: #ec5241;
  width: 2.25rem;
  height: 0.125rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.separatorSmall {
  background-color: #bababa;
  width: 1.375rem;
  height: 0.125rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 5;
}

.header .topBar {
  display: none;
  padding-left: 14%;
  padding-right: 14%;
  padding-top: 0.3625rem;
  padding-bottom: 0.3625rem;
  background-color: #3d3d3d;
  color: white;
  gap: 1.25rem;
  font-size: 0.75rem;
}

@media (min-width: 48rem) {
  .header .topBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header .topBar .socials {
  height: 1rem;
  color: white;
}

.header nav {
  display: none;
  -webkit-box-shadow: 0 0.25rem 2rem 0.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.25rem 2rem 0.5rem rgba(0, 0, 0, 0.3);
  padding-left: 14%;
  padding-right: 14%;
}

@media (min-width: 48rem) {
  .header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header nav .logoPlace {
  position: relative;
  height: 2.5rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.header nav .logoPlace .eventLogo {
  height: 100%;
}

.header nav .navlinks > a {
  color: #bababa;
}

.header nav .navlinks > a:not(:first-child) {
  margin-left: 3rem;
}

.header nav .navlinks > a:hover {
  color: #ec5241;
}

.header .menuBtn, .header .openMenuBtn, .header .closeMenuBtn {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 2.75rem;
  color: inherit;
  background-color: transparent;
  border-width: 0;
  border-color: unset;
  border-radius: 0.25rem;
  cursor: pointer;
  position: absolute;
  top: 1.625rem;
}

@media (min-width: 48rem) {
  .header .menuBtn, .header .openMenuBtn, .header .closeMenuBtn {
    display: none;
  }
}

.header .menuBtn i, .header .openMenuBtn i, .header .closeMenuBtn i {
  font-size: 2.75rem;
  color: #3d3d3d;
}

.header .openMenuBtn {
  left: 1.625rem;
}

.header .closeMenuBtn {
  right: 1.625rem;
}

.header .mobile-menu {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  font-size: 2rem;
  color: #bababa;
  background-color: #ec5241;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(70%, transparent), color-stop(0, #ec5241), to(#ec5241)), -webkit-gradient(linear, left bottom, left top, color-stop(70%, transparent), color-stop(0, #ec5241), to(#ec5241)), -webkit-gradient(linear, left bottom, right top, color-stop(5%, transparent), color-stop(0, #f17c6f), color-stop(13%, #f17c6f), color-stop(0, transparent), color-stop(55%, transparent), color-stop(0, #f17c6f), color-stop(63%, #f17c6f), color-stop(0, transparent)), -webkit-gradient(linear, left top, right bottom, color-stop(5%, transparent), color-stop(0, #f17c6f), color-stop(13%, #f17c6f), color-stop(0, transparent), color-stop(55%, transparent), color-stop(0, #f17c6f), color-stop(63%, #f17c6f), color-stop(0, transparent));
  background-image: linear-gradient(to left, transparent 70%, #ec5241 0, #ec5241 100%), linear-gradient(to top, transparent 70%, #ec5241 0, #ec5241 100%), linear-gradient(to top right, transparent 5%, #f17c6f 0, #f17c6f 13%, transparent 0, transparent 55%, #f17c6f 0, #f17c6f 63%, transparent 0), linear-gradient(to bottom right, transparent 5%, #f17c6f 0, #f17c6f 13%, transparent 0, transparent 55%, #f17c6f 0, #f17c6f 63%, transparent 0);
  background-position: -0.5px 0, 0 0, 7.5px 0, 7.5px 7.5px;
  background-size: 25px 25px;
  background-repeat: repeat;
}

.header .mobile-menu-closed {
  left: -105vw;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.header .mobile-menu-opened {
  left: 0;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.header .mobile-menu-opened i {
  font-size: 2.75rem;
}

.main {
  background-image: url("../../img/degustazioneInVigna.png");
  background-repeat: repeat-x;
  background-position-x: center;
  background-blend-mode: overlay;
  background-color: whitesmoke;
  position: relative;
  color: #3d3d3d;
  overflow: hidden;
}

@media (min-width: 48rem) {
  .main {
    top: 5.725rem;
  }
}

.main__info {
  z-index: 15;
  padding-top: 8.375rem;
  padding-bottom: 8.375rem;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

@media (min-width: 48rem) {
  .main__info {
    padding-left: 14%;
    padding-right: 14%;
  }
}

.main__info h2 {
  color: #ec5241;
  font-size: 2rem;
}

@media (min-width: 48rem) {
  .main__info h2 {
    font-size: 2.25rem;
  }
}

.main__info h1 {
  background-image: url("../../img/tramonto_vigna.jpg");
  background-position: bottom center;
  background-size: contain;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-size: 2.75rem;
  font-family: 'COCOGOOSE-LETTERPRESS', Arial, sans-serif;
}

.main__info h1 span {
  font-family: 'COCOGOOSE', Arial, sans-serif;
}

@media (min-width: 48rem) {
  .main__info h1 {
    font-size: 3rem;
  }
}

.main__info h1::before {
  content: '';
  background-image: url(../../img/wine_set.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 10%;
  width: 20%;
  position: absolute;
  top: 55px;
  right: 0;
  opacity: 10%;
  z-index: 1;
}

.main__info h1:hover::before {
  opacity: 50%;
}

.main__info .descriptionWrapper {
  position: relative;
  z-index: 1;
}

.main__info .descriptionWrapper .description {
  background-color: whitesmoke;
  z-index: 1;
  font-size: 1rem;
  line-height: 1.5rem;
  border: 3px solid white;
  margin-top: 1.375rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@media (min-width: 48rem) {
  .main__info .descriptionWrapper .description {
    max-width: 65%;
    margin-top: 0.75rem;
    padding-left: 1.375rem;
    padding-right: 1.375rem;
    padding-top: 1.375rem;
    padding-bottom: 1.375rem;
  }
}

.main__info .descriptionWrapper::before {
  content: '';
  background-image: url(../img/decanter_hor.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 150%;
  width: 70%;
  position: absolute;
  top: -75%;
  right: -15%;
  opacity: 20%;
  z-index: -1;
}

@media (min-width: 48rem) {
  .main__info .descriptionWrapper::before {
    height: 200%;
    width: 100%;
    top: -100%;
    right: -45%;
  }
}

.main__info .descriptionWrapper::after {
  content: '';
  background-image: url(../../img/bottle_glass1.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 50%;
  width: 50%;
  position: absolute;
  top: 160%;
  right: -25%;
  opacity: 20%;
  z-index: -1;
}

@media (min-width: 48rem) {
  .main__info .descriptionWrapper::after {
    height: 150%;
    width: 75%;
    top: 25%;
    right: -75%;
  }
}

.main__info .descriptionWrapper:hover::before {
  opacity: 100%;
}

.main__info .date {
  font-size: 2.25rem;
  font-family: 'COCOGOOSE', Arial, sans-serif;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.main__info .location {
  font-size: 1rem;
}
/*# sourceMappingURL=main.css.map */