.main {
  background-image: url($mainBgImgUrl);
  background-repeat: repeat-x;
  background-position-x: center;
  background-blend-mode: overlay;
  background-color: $almostWhite;
  position: relative;
  color: $darkGrey;
  overflow: hidden;

  @include wider-than($mainBp) {
    top: $mainFromTop; //calculated TopBar + Navbar
  }

  &__info {
    z-index: 15;

    @include py(8.375rem);
    @include px($lrSpacing-mobile);

    @include wider-than($mainBp) {
      @include px($lrSpacing-desktop);
    }

    h2 {
      color: $orange;
      font-size: $fs_large; // 2rem

      @include wider-than($mainBp) {
        font-size: $fs_xlarge; // 2.25rem-36px
      }
    }

    h1 {
      background-image: url($textBgImgUrl);
      background-position: bottom center;
      background-size: contain;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;
      font-size: $fs_big; // 2.75rem-44px
      font-family: 'COCOGOOSE-LETTERPRESS', Arial, sans-serif;

      span {
        font-family: 'COCOGOOSE', Arial, sans-serif;
      }

      @include wider-than($mainBp) {
        font-size: $fs_xbig; // 3rem
      }

      &::before {
        content: '';
        background-image: url(../../img/wine_set.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 10%;
        width: 20%;
        position: absolute;
        top: 55px;
        right: 0;
        opacity: 10%;
        z-index: 1;
      }

      &:hover::before {
        opacity: 50%;
      }
    }

    .descriptionWrapper {
      position: relative;
      z-index: 1;

      .description {
        background-color: $almostWhite;
        z-index: 1;
        font-size: $fs_regular; //1rem
        line-height: 1.5rem;
        border: 3px solid $white;
        margin-top: $medium; //22px

        @include px (1.5rem);
        @include py (1.5rem);

        @include wider-than($mainBp) {
          max-width: 65%;
          margin-top: $small; //12px

          @include px ($medium); //22px
          @include py ($medium); //22px
        }
      }

      &::before {
        content: '';
        background-image: url(../img/decanter_hor.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 150%;
        width: 70%;
        position: absolute;
        top: -75%;
        right: -15%;
        opacity: 20%;
        z-index: -1;

        @include wider-than($mainBp) {
          height: 200%;
          width: 100%;
          top: -100%;
          right: -45%;
        }
      }

      &::after {
        content: '';
        background-image: url(../../img/bottle_glass1.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 50%;
        width: 50%;
        position: absolute;
        top: 160%;
        right: -25%;
        opacity: 20%;
        z-index: -1;

        @include wider-than($mainBp) {
          height: 150%;
          width: 75%;
          top: 25%;
          right: -75%;
        }
      }

      &:hover::before {
        opacity: 100%;
      }
    }

    .date {
      font-size: $fs_xlarge; //2.25rem-36px
      font-family: 'COCOGOOSE', Arial, sans-serif;

      @include py ($small); //12px
    }

    .location {
      font-size: $fs_regular;
    }
  }

  &__program {
    flex-direction: column;
    padding-bottom: $medium; // 22px

    @include px($lrSpacing-mobile);

    @include wider-than($mainBp) {
      @include px($lrSpacing-desktop);
    }

    background-color: $darkBlue;
    background-size: 25px 25px;
    background-image:
    linear-gradient(to left, transparent 70%, $darkBlue 0, $darkBlue 100%),
    linear-gradient(to top, transparent 70%, $darkBlue 0, $darkBlue 100%),
    linear-gradient(to top right, transparent 5%, $almostBlack 0, $almostBlack 13%, transparent 0, transparent 55%, $almostBlack 0, $almostBlack 63%, transparent 0),
    linear-gradient(to bottom right, transparent 5%, $almostBlack 0, $almostBlack 13%, transparent 0, transparent 55%, $almostBlack 0, $almostBlack 63%, transparent 0);
    background-position: -0.5px 0, 0 0, 7.5px 0, 7.5px 7.5px;
    background-repeat: repeat;
    transition: 900ms ease-in;

    &:hover {
      background-position: 24.5px 0px, 0px -24.5px, 7.5px 0, 7.5px 7.5px;
      transition: 900ms ease-in;
    }

    .sectionTitle {
      color: $white;
      font-size: $fs_large; // 2rem
      padding-top: $xbig; // 3rem-48px
    }

    ul.programContent {
      @include my($medium); // 22px

      flex-basis: 100%;
      flex-wrap: wrap;
      gap: $regular; // 1rem

      @include wider-than($mainBp) {
        flex-wrap: nowrap;
        gap: 0.175rem;
      }

      li.programItemCard {
        background-color: #ffffff20;
        border: 2px solid transparent;
        width: 100%;
        display: grid;
        grid-template-columns: 17% 25% 58%;

        &:hover {
          border-color: $white;
          transform: scale(1.1);
          box-shadow: 0px 0rem 1.5rem 1.5rem hsla(0, 0%, 0%, 0.35);        
        }

        @include wider-than($mainBp) {
          grid-template-columns: 100%;
          grid-template-rows: 27% 5% 66%;

          @include px(0.625rem);
        }

        .programCardIcon,
        .programCardTitle {
          @include my(auto);
          @include mx(auto);
        }

        .programCardIcon {
          i {
            color: $white;
            background-color: transparent;
            font-size: $xlarge; //36px
          }
        }

        .programCardTitle {
          color: $orange;
          font-size: $fs_medium1; // 18px
          font-weight: bold;
          word-wrap: break-word;
          margin-left: unset;

          @include wider-than($mainBp) {
             font-size: $small; // 0.875rem-14px;
             margin-left: auto;
          }
        }

        .programCardDescription {
          color: $almostWhite;
          font-size: $small; // 0.875rem-14px;
          line-height: 1.5rem;
          padding-right: $small; //14px

          @include my($regular); //1rem
          @include mx(auto);

          @include wider-than($mainBp) {
            @include px(0);
          }
        }
      }
    }

    button.contact {
      @include my($large); // 36px
      @include button (4rem, $large, $medium, $white, $orange, 0, unset, 0);
    }

    a {
      @include my($large); // 36px

      font-size: $fs_regular;
      color: $almostWhite;
      text-decoration: underline;
    }
  }
}
