@use "sass:math";

// Colors
$almostBlack: hsl(225, 15%, 15%);
$darkBlue: hsl(222, 11%, 18%);
$darkGrey: hsl(0, 0%, 24%);
$lightGrey: hsl(0, 0%, 73%);
$orange: hsl(6, 82%, 59%);
$lightOrange: hsl(6, 82%, 69%);
$almostWhite: hsl(0, 0%, 96%);
$white: hsl(0, 0%, 100%);

/*******************************
Font sizes
********************************/
$fs_xsmall: 0.75rem; //12px used for: TopBar_links
$fs_small: 0.875rem; //14px --used for: programCardTitle@Dsk, programCardDescription
$fs_regular: 1rem; //16px --used for: MainInfo_description, MainInfo_location, program_a_link, speakerRole
$fs_medium1: 1.125rem; // 18px --used for: programCardTitle,
$fs_medium: 1.375rem; //22px --used for: main_speakerName
$fs_medium2: 1.625rem; //26px
$fs_large: 2rem; //32px --used for: MainInfo_h2_@mob, MainProgram_h2, MainSpeakers_h2 mobileMenu_navlinks
$fs_xlarge: 2.25rem; //36px --used for: MainInfo_h2_@Dsk, MainInfo_date,
$fs_big: 2.75rem; //44px --used for: Open_Close_MenuBtnIcon, MainInfo_h1_@mob,
$fs_xbig: 3rem; //48px --used for: MainInfo_h1_@Dsk

/*******************************
Mostly used size and spacing values
********************************/
$small: 0.75rem; //12px used for: MainInfo_date_py, MainInfo_description_mt@Dsk
$regular: 1rem; //16px --used for: MainInfo_location, separator_my,
$medium: 1.375rem; //22px --used for: MainInfo_description_mt@mob,
                  //description_px_py@Dsk, MainProgram_pb, programContent_my,
$medium-l: 1.5rem; //24px
$large: 2rem; //32px --used for: MainInfo_h2_@mob, MainProgram_h2,
$xlarge: 2.25rem; //36px --used for: separatorMedium_width
$big: 2.75rem; //44px --used for: Open_Close_MenuBtnIcon, MainInfo_h1_@mob,
$xbig: 3rem; //48px --used for:MainProgram_h2_mt

/*******************************
Preset Sizes & Spacing
********************************/
$socialIconH: $regular; //16px
$logoImgH: $xbig; //48px
$topBarSpacingTb: 0.3625rem; //5.8px
$navBarSpacingTb: $small; //12px
$menuTopLeftSpace: 1.625rem; //26px
// homepage page paddings/margins:
$lrSpacing-desktop: 14%;
$lrSpacing-mobile: 2.5%;
// homepage page paddings/margins:
$lSpace-header-About: 16.8%;
$rSpace-header-About: 4.7%;
$lSpace-desk-About: 21.8%;
$rSpace-desk-About: 9.2%;
$lrSpacing-mobile-about: 5%;

/* Desktop mainSection distance from top:
 TopBar (2 * 0.3625rem top and bottom padding, 1 rem socials height)
 NavBar (2 * 0.75rem top and bottom margin, 2.5 rem logo height) */
$mainFromTop: ($socialIconH + $logoImgH + (2 * $topBarSpacingTb) + (2 * $navBarSpacingTb));

/*******************************
Breakpoints
********************************/
$mainBp: 48rem; //768px
$mainBpLess: 47.9375rem; //767px

// Url for background images at top of main section
$mainBgImgUrl: "../../img/degustazioneInVigna.png";
$textBgImgUrl: "../../img/tramonto_vigna.jpg";
$mainBgSmall_1: "../../img/wine_set.png";
$mainBgSmall_2: "../../img/decanter_hor.png";
$mainBgSmall_3: "(../../img/bottle_glass1.png";
$eventLogo: "../../img/eventLogo.png";
$hostLogo: "../../img/laFicaia.png";
$logoPartner1: "../../img/partner1.png";
$logoPartner2: "../../img/partner2.png";
$logoPartner3: "../../img/partner3.png";
$logoPartner4: "../../img/partner4.jpg";
$logoPartner5: "../../img/partner5.png";
$pastEvent1: "../../img/cena_in_vigna1.jpg";
$pastEvent2: "../../img/cena_in_vigna2.jpg";
